body {
    background-image: url('/images/index-admin2.jpg');
    margin-top: 10px;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
}

/*.content {
    flex: 1;
    padding: 20px;
    margin-bottom: 60px; /* Margen inferior para dejar espacio al footer 
}*/

.imagen-fondoadmin,
.imagen-fondouser {
    /*position: fixed;*/
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.navbar {
    padding: 10px;
}

/* Estilo para alinear los botones a la derecha */
.navbar-nav {
    margin-left: auto;
}

/* Estilo para ajustar la separación entre los elementos en la barra de navegación */
.navbar-nav>li {
    margin-right: 10px;
}

/* Estilo para la imagen del logo */
.logo {
    display: flex;
    /* z-index: 1;*/
    align-items: center;
    max-width: 43px;
    height: auto;
}


/* Opcional: Estilo para ajustar el espacio entre la imagen del logo y los botones */
.logo a {
    margin-right: 1px;
    max-width: 43px;
    height: auto;
}

/* Configuracion titulo en navbar*/
.navbar-brand {
    font-family: 'Trebuchet MS';
    font-size: 2.0 rem;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}

/********************************* CARDS DE ADMINISTRACION***********************************/
.cards-usuarios-admin {
    display: flex;
    justify-content: center;
    gap: 85px;
    /* Espacio entre las tarjetas */
    flex-wrap: wrap;
    /* Para que las tarjetas se ajusten en filas */
    margin-top: 75px;
    z-index: 1;
    /* Ajusta el z-index de las tarjetas para que estén por encima del fondo */
}

.card {
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    /* Transición suave */
    max-width: fit-content;
    width: auto;
}

.card:hover {
    transform: translateY(-7px);
    /* Mover hacia arriba 5px al pasar el cursor */
}

.card-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    /* Altura completa de la tarjeta */
    justify-content: space-around;
    /* Distribuir el espacio verticalmente */
}

.card-body a {
    background-color: #61ada0;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 3);
    text-decoration: none;
    transition: 1s;
}

/******************REGISTRO DE USUARIO PROFESIONAL*****************/
.contenedor-formulario-usuario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* margin: 0 auto;*/
    max-width: 600px;
    margin-top: 63px;
    /*ubicacion desde el margen superior*/
}

.mi-formulario-usuario {
    text-align: center;
    /*alinea el texto y otros elementos al centro*/
    padding: 10px;
    /*agrega espacio de relleno alrededor del contenido del formulario*/
    border-radius: 10px;
    /*aplica bordes redondeados*/
    background-color: #f0f0f088;
    /*color de fondo*/
    margin: 0 auto;
    /*para centrar elemento horizontal*/
    /*z-index: 3; Ajusta ubicación de las capas */
    max-width: 400px;
    /*ancho maximo del formulario*/
    width: 100%;
    /* Hace que el formulario ocupe el ancho completo del contenedor padre */
    margin-top: 70px;
    /*ubicacion desde el margen superior*/
}

.contenedor-formulario-portal {
    display: flex;
    align-items: center;
    justify-content: right;
    /*height: 90vh;*/
    width: 58%;
}

.mi-formulario {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: center;
    /*z-index: 3; ajusta ubicacion de las capas*/
    max-width: 400px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mi-recuadro {
    padding: 30px;
    border-radius: 10px;
    background-color: #f0f0f0b0;
    width: 60%;
    max-width: 800px;
    margin-top: 20px;
}

.destacado {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(3, 80, 80);
    font-size: x-large;
}

.img-logo-admin {
    margin-top: 30px;
    align-content: center;
}

/*******************SECTION INFO ADMIN*********************/
.info-admin {
    background-color: rgb(201, 201, 201);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 100px;
    padding: 20px;
    z-index: 1;
    /* Asegúrate de que el footer esté en un z-index superior */
}

.info-admin p {
    text-align: center;
    font-size: 24px;
    display: inline;
    flex-direction: column;
}

/******************LISTADO DE PACIENTES VISTA ADMINISTRADOR*****************/
.container-table-adminUsuarios {
    width: 100%;
    /* max-width: 9000px;  Ancho máximo de la tabla */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.table-list-admin {
    width: 920px;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.808);
    text-align: center;
}

.table-list-admin thead th,
.table-list-admin tbody td {
    padding: 3px 3px;

}

.table-list-admin tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
    /* Color de fondo de filas alternas */
}

.table-list-admin tbody tr:hover {
    background-color: #e0f7fa;
    /* Color de fondo al pasar el mouse */
}

.info-admin-listaPaciente {
    background-color: rgb(201, 201, 201);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 100px;
    padding: 20px;
    z-index: 1;
    /* Asegúrate de que el footer esté en un z-index superior */
}

.info-admin-listaPaciente p {
    text-align: center;
    font-size: 24px;
    display: inline;
    flex-direction: column;
}

/******************BOTON VOLVER ADMINISTRADOR*****************/
.button-volver {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-volver a {
    background-color: #61ada0;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 3);
    transition: 1s;
}

.button-volver a:hover {
    background-color: #1c82f7;
}

.btn-primary {
    margin-top: auto;
    background-color: #61ada0;
    /* Color verde */
    color: #fff;
    /* Texto blanco */
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 3);
    margin-top: auto;
    /* Mover el botón hacia abajo al final de la tarjeta */
    text-decoration: none;
    transition: 1s;
}

/******************FOOTER ADMINISTRADOR*****************/
.footer {
    background-color: #f0f0f0;
    padding: 25px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    /* Asegúrate de que el footer esté en un z-index superior */
}

/*ubicacion texto footer*/
.footer p {
    display: inline;
    margin-right: 10px;
}

.footer .icon {
    width: 20px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    margin-right: 5px;
    /* Espaciado entre los íconos y el texto */
}