<div th:fragment="head">
    <div class="header_section" style="font-weight: bold;" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-light fixed-top">
            <div class="logo">
                <a href="/index"><img src="/images/logo2.png" sec:authorize="!isAuthenticated()"
                        style="max-width: 43px; height: auto; display: flex; margin-left: 5px;" /></a>
                <span class="navbar-brand">Mi Salud Digital</span>
                <a href="/paciente/dashboard"><img src="/images/logo2.png"
                        sec:authorize="isAuthenticated() and hasRole('ROLE_USER')"
                        style="max-width: 43px; height: auto;" /></a>
                <a href="/profesional/dashboard"><img src="/images/logo2.png"
                        sec:authorize="isAuthenticated() and hasRole('ROLE_PROFESIONAL')"
                        style="max-width: 43px; height: auto;" /></a>
                <a href="/admin/dashboard"><img src="/images/logo2.png"
                        sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')"
                        style="max-width: 43px; height: auto;" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index" sec:authorize="!isAuthenticated()" style="width: auto; height: auto;">Inicio</a>
                        <a class="nav-link" href="/paciente/dashboard"
                            sec:authorize="isAuthenticated() and hasRole('ROLE_USER')">Inicio</a>
                        <a class="nav-link" href="/profesional/dashboard"
                            sec:authorize="isAuthenticated() and hasRole('ROLE_PROFESIONAL')">Inicio</a>
                        <a class="nav-link" href="/admin/dashboard"
                            sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')">Inicio</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#turnos">Especialidades</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#turnos">Turnos</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/registrar">Registro</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login" style="display: flex; align-items: center;" > <img src="/images/icon-usuario.png" 
                            style="max-width: 25px; height: auto; display: flex; margin-right:7px;" >Acceder</a>
                    </li>
                    <!--  -->
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
                        <!-- Aca indicamos que si hay sesion activa que se muestre el boton or hasRole('ROLE_ADMIN')-->
                        <!--<a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Paciente</a>-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true"> Portal Paciente</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Verificar si el usuario tiene datos de paciente -->
                            <th:block th:if="${session.usuariosession.paciente == null}">
                                <li><a class="dropdown-item" href="/paciente/registrar">Registrarse</a></li>
                            </th:block>
                            <li><a class="dropdown-item" href="/paciente/datos">Mis datos</a></li>
                            <li><a class="dropdown-item" href="/paciente/listadoProfesionales">Lista profesionales</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_PROFESIONAL')">
                        <!-- Aca indicamos que si hay sesion activa que se muestre el boton or hasRole('ROLE_ADMIN')-->
                        <!--<a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Paciente</a>-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true"> Portal Profesional</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profesional/datos">Mis Datos</a></li>
                            <li><a class="dropdown-item" href="/profesional/listadoDeTurnos">Mis turnos</a></li>
                            <li><a class="dropdown-item" href="/profesional/listadoPacientes">Pacientes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                        <!-- Aca indicamos que si hay sesion activa que se muestre el boton-->
                        <!--<a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                            Paciente</a>-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true"> Portal Administrador</a>
                        <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/registrarUsuarioProfesional">Registrar Usuario
                                    Profesional</a></li>
                            <li><a class="dropdown-item" href="/admin/listadoProfesionalesAdmin">Lista usuarios
                                    Profesionales</a></li>
                            <li><a class="dropdown-item" href="/admin/listadoPacientesAdmin">Lista usuarios
                                    Pacientes</a></li>
                        </ul>-->
                    </li>
                    <li class="nav-item dropdown"
                        sec:authorize="hasRole('ROLE_USER')or hasRole('ROLE_ADMIN')or hasRole('ROLE_PROFESIONAL')">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> Perfil <span
                                th:if="${session.usuariosession != null}"
                                th:text="${session.usuariosession.nombreUsuario}"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/actualizarPerfil">Editar usuario</a></li>
                            <li><a class="dropdown-item" href="/logout">Cerrar sesion</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombreUsuario}"></span> </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="/logout">Cerrar sesion</a>
                            </li>
                        </ul>
                    </li>-->
                   
                </ul>
            </div>
        </nav>
        <!-- header section end -->
    </div>
</div>